{% load static %}


<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{% static "book-review.css" %}"
        <title>Create A Book Review</title>
    </head>
    <body>
        <header>
            <div>My Book Reviews</div>
            <nav>
                <a href="{% url "reviews_list" %}">Back to list</a>
            </nav>
        </header>
        <main>
            <div class="book-review-form">
                <form method="post">
                   {% csrf_token %}
                   {{ form.as_p }}
                    <div>
                        <button>Submit</button>
                    </div>
                </form>
            </div>

        </main>
        <footer>
            <div>Copyright 2022 by Jordan Frerichs</div>
            <p>This is my book review website, I hope you can use it to find a new book to read!</p>
        </footer>
    </body>
</html>